@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;500;900&display=swap');

.ff-roboto-slab {
  font-family: 'Roboto Slab', serif;
  text-shadow: 1px 1px 4px rgba(6, 44, 46, 0.786);
}

.bodyArticle {
  line-height: 1.5em;
  h1, h2, h3, h4, h5, h6 { font-family: 'Roboto Slab', serif; margin-bottom: .5em; }
  h1 { font-size: 2.5rem; }
  h2 { font-size: 2rem; }
  h3 { font-size: 1.75rem; }
  h4 { font-size: 1.5rem; }
  h5 { font-size: 1.25rem; }
  h6 { font-size: 1rem; }
  p { display: block; margin-bottom: 1em; }
  strong { font-weight: 700; }
}